/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: -webkit-linear-gradient(40deg, #B993D6 10%, #8CA6DB 100%);
  background:    -moz-linear-gradient(40deg, #B993D6 10%, #8CA6DB 100%);
  background:     -ms-linear-gradient(40deg, #B993D6 10%, #8CA6DB 100%);
  background:      -o-linear-gradient(40deg, #B993D6 10%, #8CA6DB 100%);
  background:         linear-gradient(40deg, #B993D6 10%, #EAECC6 100%);
}

.navbar-default {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.75);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
  border: none;
  border-radius: 0;
  .navbar-header {
    .navbar-brand {
      color: #531c5d;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: -1px;
    }
  }
  .navbar-link {

    color: #C8AED2;
  }
}

#index_workouts {
  h2 {
    margin-bottom: 0;
    font-weight: 100;
    a {
      color: white;
    }
  }
  h3 {
    margin: 0;
    font-size: 18px;
    color: white;
    span {
      color: #531c5d;
    }
  }
}



